@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;

    /* 스크롤바 숨기기 */
    scrollbar-width: none;
    -ms-overflow-style: none;

}



